@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.all {
    max-width: 1440px;
    margin: 0 auto;
}

.banner-box {
    /* margin: 55px 32px 190px; */
    display: flex;
    justify-content: center;

}

.nav-hading {
    color: #E6533C;
    font-weight: 800;
    font-size: 36px;
}

.background-color {

    background: rgb(185, 185, 185);
}


.nav-color {

    background: linear-gradient(180.00deg, rgb(8, 8, 8), rgba(14, 13, 13, 0.863), rgb(17, 17, 17) 100%);

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar>ul {
    display: flex;
    gap: 75px;

}

#list-item-bg {
    background-color: #E6533C;
    padding: 8px 20px 8px 20px;
    border-radius: 46px;
}

.navbar>ul>li {

    list-style: none;

}

#menu {
    background-color: #FFFFFF;
}

.list-item a {
    text-decoration: none;
    color: #FFFFFF;

}

.menu-btn {
    width: 35px;
    height: 43px;
    color: #FFFFFF;


    display: none;
}

/* banner section */

.banner {
    display: flex;
    gap: 55px;
}

.banner-head {
    color: rgb(255, 255, 255);


}

.italic {
    font-weight: 200;
    text-indent: 100px;
}

.banner-text {
    width: 46%;
    display: flex;
    justify-content: center;


}

.banner-head {
    font-weight: 900px;
    font-size: 78px;
}

.common-describtion-color {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    margin-bottom: 40px;
}

.btn-section {
    margin-top: 25px;
}

.common-btn {
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    color: #FFFFFF;
    background: rgb(230, 83, 60);
    border: none;
    margin-right: 15px;
    margin-bottom: 10px;
}

.Join-btn {
    border-radius: 42px;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0);
    padding: 16px 40px 16px 40px;
    border: 1px solid white;
}

.person {
    width: 48%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.image {
    /* */
    /*  */

    width: 349px;
    height: 580px;
    background-image: url('../images/Images2.png');
    background-repeat: no-repeat;
}

.image img {
    width: 349px;
    height: 580px;
    position: relative;
}

.work-out {
    width: 190px;
    position: absolute;
    height: 95pcx;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 200px;
    line-height: 20px;
    margin-top: 100px;
    border-radius: 12px;
}

.work-out-500,
.view-350 {
    margin-bottom: 5px;
    font-weight: 900;
    font-size: 40px;
}

.view {
    width: 190px;
    position: absolute;
    height: 95pcx;
    color: #FFFFFF;
    line-height: 15.12px;
    background-color: rgba(255, 255, 255, 0.1);
    line-height: 20px;
    margin-top: 400px;
    margin-left: -100px;
    border-radius: 12px;
}

/* main section */
.bg-color {
    background-color: black;
}

.habit {
    display: flex;
    justify-content: center;
    text-align: center;

}

.habit-box {
    width: 40%;
    margin-top: 100px;

}

.change-habits {
    font-weight: 900;
    font-size: 48px;
    color: #FFFFFF;
}

/* fitness section */
.fitness-section {
    display: grid;
    gap: 40px;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
}

.fitness>img {
    border-radius: 50%;
    border: solid 5px rgba(255, 255, 255, 0.397);
}

.fitness-heading {
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}

/* Run section */
.run-text {
    display: flex;
    gap: 165px;
    margin-top: 100px;
    padding: 30px 50px;
    border-radius: 18px;
    background: rgb(34, 34, 34);

}

.run-section {
    width: 45%;

}

.describtion {
    padding: 20px;
}

.run-img {
    width: 45%;
    display: flex;
    justify-content: end;
}

.run-img img {
    width: 100%;
    /* width: 366px;
    height: 312px; */
    border-radius: 18px;

}

.runn-heading {
    font-weight: 900;
    font-size: 48px;
    color: #FFFFFF;


}

/* Trainings and Exercises */
.tranning {
    width: 50%;
    line-height: 120%;
    margin-top: 150px;
    margin-bottom: 50px;
}

.tranning-head {
    font-weight: 900;
    font-size: 48px;
    color: #FFFFFF;
}

.tranning-describtion {
    color: rgba(255, 255, 255, 0.5);
}

.tranning-img {
    display: flex;


}

.tranning-img2 {
    display: flex;

}

.img1 {
    width: 25%;
    height: 250px;
    background: linear-gradient(rgba(6, 255, 210, 0.5), rgba(6, 255, 210, 0.5)), url('../images/exercise1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.img2 {
    width: 45%;
    height: 250px;
    background: linear-gradient(rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)), url('../images/exercise2.png');
    background-size: cover;
    background-repeat: no-repeat;


}

.img2-head {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: rgb(255, 255, 255);
    margin-left: 5px;
    line-height: 17px;
    letter-spacing: 0px;
}

.img3 {
    width: 30%;
    height: 250px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/exercise3.png');
    background-size: cover;
    background-repeat: no-repeat;


}

.image3-head {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    margin-left: 5px;
    color: rgb(255, 255, 255);
    margin-top: 200px;
}

.img4 {
    width: 40%;
    height: 250px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/exercise4.png');
    background-size: cover;
    background-repeat: no-repeat;


}
.header{
    text-align: end;
    margin-right: 10px;
}

.img5 {
    width: 25%;
    height: 250px;
    background: linear-gradient(rgba(66, 255, 0, 0.3), rgba(66, 255, 0, 0.3)), url('../images/exercise5.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}
.img5-head{
    display: flex;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    margin-left: 5px;
    color: rgb(255, 255, 255);
    margin-top: 200px;

}

.img6 {
    width: 35%;
    height: 250px;
    background: linear-gradient(rgba(6, 255, 210, 0.5), rgba(6, 255, 210, 0.5)), url('../images/exercise6.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

.table {
    display: flex;
    justify-items: center;
    background-color: rgb(34, 34, 34);
}

.table>div>table {
    color: #FFFFFF;
    border-collapse: collapse;

    width: 350px;
    height: 216px;
}

th,
td {
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);

}

th {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;

}

td {
    color: rgba(255, 255, 255, 0.5);
}

.table-head {
    font-size: 28px;
    font-weight: 900;
    color: #FFFFFF;
}

.table1 {
    width: 50%;
}

.input1 {
    width: 50%;
    text-align: center;
}

.input-section {
    align-items: center;

}

.input-section>input {
    width: 282.5px;
    height: 48px;


    padding-left: 10px;
    /* padding: 12px 60px 12px 20px; */
    margin-top: 10px;
    border-radius: 8px;
}

.activity-input {
    width: 584px;
    height: 48px;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-left: 10px;
    border-radius: 8px;

}

/* Meet our team */
.img-team1 {

    width: 100%;
    height: 272px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/trainer1.png');
    border-radius: 18px;
    background-size: cover;

}

.img-team2 {

    width: 100%;
    height: 272px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/trainer2.png');
    border-radius: 18px;
    background-size: cover;
}

.img-team3 {

    width: 100%;
    height: 272px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/trainer3.png');
    border-radius: 18px;
    background-size: cover;
}

.img-team4 {

    width: 100%;
    height: 272px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/trainer4.png');
    border-radius: 18px;
    background-size: cover;
}

.img-team5 {

    width: 100%;
    height: 272px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/trainer5.png');
    border-radius: 18px;
    background-size: cover;
}

.img-team6 {
    background-image: url('../images/trainer6.png');
    width: 100%;
    height: 272px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/trainer6.png');
    border-radius: 18px;
    background-size: cover;
}
.meet-img-head{
    font-size: 24px;
    font-weight: 800;
    color: rgb(255, 255, 255);
}
.meat-img-describtion{
    line-height: 100%;
    margin-top: 200px;
    margin-left: 10px;
}

.our-team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;

}

/* footer */
.footer {
    display: flex;
    gap: 100px;
    margin-top: 60px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);

}

.footer-fitness {
    width: 50%;

    line-height: 120%;
}

.footer-head {
    font-size: 70px;
    font-weight: 800;
    color: rgb(230, 83, 60);
}

.footer-started {
    width: 50%;

}

.footer-started {
    display: flex;
    gap: 150px;
}

.get-start {
    font-size: 23px;
    font-weight: 700;
    color: #FFFFFF;
}

.common-describtion {
    color: rgba(255, 255, 255, 0.5);
    font-size: 24px;
    font-weight: 400;
}

.horijontal {
    color: rgba(255, 255, 255, 0.5);
    margin-top: 50px;
    margin-bottom: 50px;
    

}

.copy-right {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-bottom: 50px;
    
}










@media screen and (max-width: 576px) {

    /* .all {
        margin: 20px;
    } */

    .navbar {
        padding: 0px 20px;
    }

    .navbar>ul {
        display: none;

    }


    .menu-btn {
        display: unset;
    }


    .banner,
    .run-text {
        flex-direction: column;
    }

    .banner {
        justify-content: center;
    }

    .banner-text {
        margin: 10px;
    }

    .padings {
        padding: 5px;
    }

    .person,
    .banner-text,
    .habit-box {
        width: 100%;
    }

    .banner-head {
        font-size: 36px;
    }

    .common-btn,
    .Join-btn {
        padding: 10px 20px 10px 20px;


    }

    .common-describtion-color {
        margin: 0px;
    }

    .image,
    .run-img,
    .run-section,
    .tranning {
        width: 100%;
    }

    .work-out {
        width: 136px;
        margin-left: 195px;
    }

    .view {
        width: 136px;
        line-height: 20px;
        margin-left: 30px;
    }

    .later {
        letter-spacing: 0.56px;
        font-size: 9.83px;
    }

    .change-habits {
        font-size: 32px;
    }

    .work-out-500,
    .view-350 {
        font-size: 25px;

    }

    .fitness-section {
        grid-template-columns: repeat(1, 1fr);
    }

    .fitness-describtion {
        margin: 30px;
    }

    .runn-heading {
        font-size: 36px;
    }

    /* run section */
    .run-text {
        gap: 30px;
        margin-top: 50px;
        padding: 20px;
    }

    .run-img {
        justify-content: center;
    }

    .run-img img,
    .input1,
    .table1 {
        width: 100%;
    }

    .table1 {
        justify-content: center;
        padding-left: 12px;
    }

    td,
    th {
        padding: 10px;
    }


    /* Trainings and Exercises */
    .tranning {
        margin-top: 50px;
        padding: 0px 20px;
    }

    .tranning-img-div {
        padding: 0px 20px;
    }

    .tranning-head {
        font-size: 29px;
        line-height: 120%;
    }

    .img1 {
        width: 50%;
        height: 140px;

    }

    .img2 {
        width: 50%;
        height: 140px;

    }

    .img4 {
        width: 45%;
        height: 140px;

    }

    .img5 {
        width: 55%;
        height: 140px;
    }
    .img5-head{
        margin-top: 80px;
    }

    .img3 {
        display: none;

    }

    .img6 {
        display: none;
    }

    /* table section */
    .table {
        flex-direction: column;
    }

    .input-section>input {
        width: 150px;
        height: 40px;
        background: rgba(255, 255, 255, 0.1);
        border: none;
    }

    .activity-input {
        width: 311px;
        background: rgba(255, 255, 255, 0.1);
        border: none;
        height: 40px;
    }

    .our-team {

        grid-template-columns: repeat(1, 1fr);

    }

    .footer {
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
        padding: 20px;


    }

    /* .fitness-describtion {
        margin: 2px;
    } */

    .footer-started {
        gap: 10px;
        width: 100%;
        flex-direction: column;
    }

    .horijontal {
        display: block;
    }

    .copy-right {
        display: block;
    }


}